<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXT school | Erro</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
    <main class="container-error">
        <figure>
            <img src="/images/Error-logo.svg" alt="Error image">
        </figure>
        <div class="error-message">
            <img id="yoda" src="/images/baby-yoda.svg" alt="Error image">
            <h1>Más notícias para você eu tenho!</h1>
            <p><%= error %></p>
        </div>
    </main>
</body>
</html>




