<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEXT school</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/home-login.css">
</head>
<body>
  <main>
    <section class="container">
      <figure>
        <img src="/images/logo.svg" alt="Imagem da logo">
      </figure>
      <div class="login">
        <div class="buttons">
          <a class="button" href="/aluno/entrar">Aluno</a>
          <a class="button" href="/professor/entrar">Professor</a>
        </div>
        <p>É um administrador? <a href="/admin/entrar">Clique aqui.</a></p>
      </div> 
    </section>
  </main> 
</body>
</html>
